    <!-- Carfunt Footer -->
    <section class="footer_one home7_style pt0 pb40">
        <div class="container">
          <div class="feature_icons home7_style">
            <div class="row">
              <div class="col-lg-6 col-xl-7">
                <div class="mailchimp_widget home7_style mb30-md">
                  <div class="details">
                    <h3 class="title">Subscribe our newsletter</h3>
                    <p class="para">
                      Learn more on how we are Making car Insurance easy and
                      affordable for everyone..
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xl-5">
                <div class="footer_social_widget">
                  <form class="footer_mailchimp_form home2 home7_style">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <input
                          type="email"
                          class="form-control"
                          placeholder="Your Email..."
                        />
                        <button class="btn-thm" type="submit">Subscribe</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="container pt80 pt20-sm pb70 pb0-sm">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <div class="footer_contact_widget home2">
                <h5 class="title">About Us</h5>
                <p>
                  We’re a car insurance company that uses software to make car
                  insurance delightful, affordable and easier to access.
                </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <div class="footer_about_widget home2">
                <h5 class="title">Location</h5>
                <p>Coming to the nearest City closer to you.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <div class="footer_contact_widget home2">
                <h5 class="title">NEED HELP</h5>
                <p>Call Us</p>
                <a href="tel:+2348074517306">
                  <div class="footer_phone">+234 807 451 7306</div>
                </a>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
              <div class="footer_contact_widget home2">
                <h5 class="title">NEED HELP</h5>
                <p>Email Us</p>
                <a href="mailto:hello@carfunt.com">
                  <div class="footer_phone">hello@carfunt.com</div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-8 col-xl-9">
              <div
                class="copyright-widget home2 mt5 text-center text-md-start mb20-sm"
              >
                <p>.:: Carfunt © 2022. All Rights Reserved.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div class="footer_social_widget home2 text-center text-md-end">
                <ul class="mb0">
                  <li class="list-inline-item">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <a class="scrollToHome" href="#"><i class="fas fa-arrow-up"></i></a>
    </div>
    <!-- Wrapper End -->
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/jquery.mmenu.all.js"></script>
    <script src="js/ace-responsive-menu.js"></script>
    <script src="js/isotop.js"></script>
    <script src="js/snackbar.min.js"></script>
    <script src="js/simplebar.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/scrollto.js"></script>
    <script src="js/jquery-scrolltofixed-min.js"></script>
    <script src="js/jquery.counterup.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/progressbar.js"></script>
    <script src="js/slider.js"></script>
    <script src="js/timepicker.js"></script>
    <script src="js/wow.min.js"></script>
    <!-- Custom script for all pages -->
    <script src="js/script.js"></script>
  </body>
</html>
